<h1>Ivy Demo</h1>
<ul class="links">
  <li>
    <button [routerLink]="['/']" type="button" mat-raised-button>Go Home</button>
  </li>
  <li>
    <button [routerLink]="['/a']" type="button" mat-raised-button>Go to A</button>
  </li>
  <li>
    <button [routerLink]="['/b']" type="button" mat-raised-button>Go to B</button>
  </li>
  <li>
    <button [routerLink]="['/lazy']" type="button" mat-raised-button>Go to Lazy</button>
  </li>
  <li>
    <button [routerLink]="['/style-binding']" type="button" mat-raised-button>Go to Style Binding</button>
  </li>
  <li>
    <button [routerLink]="['/inheritance']" type="button" mat-raised-button>Go to Inheritance</button>
  </li>
</ul>
<router-outlet></router-outlet>
